@import'media-queries';
*{
  box-sizing: border-box;
@include tablet{
  box-sizing: border-box;
}
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1,p{
  margin: 0;
}
h1{
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 90%;
  height: 1400px;
  background-color: #1D267E;
  margin: auto;
  
  @include mobile{
    width: 100%;
  }
  @include tablet{
    width: 100%;
  }

  header{
    display: flex;
    color: #fff;
    font-size: 16px;

    @include tablet{
      display: inline;
    
    }
    
    @include mobile{
      display: inline;
    }
    .logo{
      width: 20%;
      font-weight: 600;
      padding: 25px 0;
      margin-left: 10%;

      @include tablet{
       width: 10%;
       font-size: 13px;
       margin-right:80px ;
       margin-left: 1rem;
      }

      @include mobile{
        width: 10%;
        font-size: 13px;
        // margin-left: 100px;
        // margin-left: 1rem;
      }
    }
    nav{
  width: 50%;
  margin-right: 10%;
  padding: 10px 0;
  margin-top: 10px;

  @include tablet{
    width: 100%;
    background-color: #454D8A;
    margin-top: -10px;
  }
  @include mobile{
      width: 100%;
      background-color: #454D8A;
      margin-top: -10px;

  }
    }
    li{
      list-style: none;
      display: inline;
      
      @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      }
    }
    a{
      text-decoration: none;
      color: #fff;
      margin-right: 70px;
      @include tablet{
        margin-top: 12px;
      }
      @include mobile{
      margin-top: 10px;
      }
    
    }
    .login{
      width: 150px;
      border: none;
      color: #fff;
      padding: 15px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      background-color: transparent;
      border-radius: 5px;
      border: 2px solid #7175A8;
      margin-right: 30px;
      margin-top: 20px;

      @include tablet{
      display: none;
      }
      @include mobile{
      display: none;
      }
    }
    .login:hover{
      color: #454a6e;
      font-size: 20.5px ;
      transition: 0.1s;
    }
    a:hover{
      font-size: 17px;
      color: #454a6e;
    }
    a:focus{
      color: #454a6e;
      font-size: 17px;
    }
    a:active{
      color: #454a6e;
      font-size: 17px;
    }
    .login:focus{
      color: #454a6e;
      font-size: 20.5px;
    }
    .login:active{
      color: #454a6e;
      font-size: 20.5px;
    }
  }





}  

.flex{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
  




  .txtHead{
    width: 50%;
    @include tablet{
      width: 50%;
    }
    @include mobile{
    width: 50%;
    }

    h1{
      color: white;
    font-size: 50px;
    width: 520px;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: bold;
    margin-left: 135px;

    @include tablet{
      font-size: 30px;
      width: 100%;
      display: flex;
      align-self: center;
    }
    @include mobile{
      font-size: 25px;
      width: 300px;
      margin-left: 40px;
    text-align: center;
    }
    }
  }
  .txtBody{
    width: 50%;
    @include tablet{
        width: 50%;
    }
    @include mobile{
      width: 100%;
    }
    p{
      margin-top: 20px;
      line-height: 40px;
      color: #9198C2;
    width: 500px;
    font-size: 20px;
    margin-left: 140px;
    font-weight: bold;

    @include tablet{
      font-size: 16px;
    width: 300px;
    }
    @include mobile{
      font-size: 16px;
      width: 300px;
      margin-left: 60px;
    }
    }
  }
  .getStarted{
    width: 250px;
    border: none;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color:#454D8A;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-right: 30px;
    margin-top: 60px;
    margin-left: 140px;

    @include tablet{
      width: 400px;
    align-self: center;
    }
    @include mobile{
      width: 200px;
      margin-left: 80px;
    }
  }
  .getStarted:focus{
    background-color:#454a6e;
  }
  .getStarted:active{
    background-color:#454a6e;
  }
  .transparent{
    width: 250px;
    border: none;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color:transparent;
    margin-right: 30px;
    margin-top: 20px;
  
    @include tablet{
      width: 400px;
      margin-left: 140px;
    }
    @include mobile{
      width: 200px;
      margin-left: 80px;
    }
  }

    .transparent:hover{
      background-color:#454D8A ;
      border-radius: 5px;
    }
    .transparent:active{
      background-color:#454a6e;
    }
  .transparent:focus{ background-color:#454a6e;}
  .image{
@include tablet{
  display: none;
}
@include mobile{
  display: none;
}
// width: 50%;
    .box1{
      width: 400px;
      height: 400px;
      border: 1px solid #6066A2;
      background-color: #6066A2;
      border-radius: 50px;
      margin-left: 50px;
      margin-top: 120px;
      transform: rotate(70deg);
    }
    .box2{
      width: 410px;
      height: 410px;
      border: 1px solid #6066A2;
      background-color: #6066A2;
      border-radius: 50px;
      margin-top: 150px;
      margin-left: 50px;
      margin-top: -400px;
      transform: rotate(45deg);
      opacity: 0.2;
     
    }
    .box3{
      width: 435px;
      height: 450px;
      border: 1px solid #6066A2;
      background-color: #6066A2;
      border-radius: 50px;
      margin-top: 150px;
      margin-left: 30px;
      margin-top: -430px;
      transform: rotate(30deg);
      opacity: 0.1;
    }
    .box4{
      width: 480px;
      height: 480px;
      border: 1px solid #6066A2;
      background-color: #6066A2;
      border-radius: 50px;
      margin-top: 150px;
      margin-left: 20px;
      margin-top: -470px;
      transform: rotate(45deg);
      opacity: 0.1;
    }
  }
}

  .txtHead2{
  width: 50%;
  margin: auto;

  h1{
      margin-top: 300px;
      line-height: 40px;
      color: white;
    width: 500px;
    font-size: 40px;
    margin-left: 140px;
    font-weight: bold;
    text-transform: capitalize;

    @include tablet{
      margin: 0;
      margin-top: 80px;
    }
    @include mobile{
      width: 200px;
      margin-left: -15px;
      margin-top: 80px;
    }
  }
}

.txtBody2{
  color: white;
  width: 50%;

  p{
    font-size: 20px;
    width: 500px;
    margin-left: 400px;
    text-align: center;
    margin-top: 20px;
    color: #919ABE;
    font-weight: 600;

    @include tablet{
      margin-left: 100px;
      margin-top: 20px;
    }
    @include mobile{
      width: 400px;
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}

.flex2{
  width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;

@include tablet{
display: flex;
flex-direction: column;

}@include mobile{
  display: flex;
  flex-direction: column;
}

  .whiteBox1{
    width: 370px;
    background-color: #fff;
    height: 500px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 15px;

    img{
      width: 300px;
      margin-left: 50px;
      margin-top: 40px;
    }
  
    .cloud{
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
      font-weight: bolder;
    }

    .cloudTxt{
  font-size: 16px;
  width: 80%;
  text-align: center;
  margin: auto;
    }
    @include tablet{
    margin-left: 180px;
    margin-top: 460px;
    background-color: #1A2377;
    color: #fff;
    }
    @include mobile{
      margin-left: 50px;
      margin-top: 460px;
      background-color: #1A2377;
      color: #fff;
    }
  }
  .whiteBox2{
    width: 370px;
    background-color: #fff;
    height: 500px;
    margin-top: 100px;
    border-radius: 15px;

    @include tablet{
      margin-left: 180px;
      background-color: #1A2377;
      color: #fff;
      }
      @include mobile{
        margin-left: 50px;
        background-color: #1A2377;
        color: #fff;
      }
    

    img{
      width: 300px;
      margin-left: 60px;
      margin-top: -5px;
    
  
    }
    .security{
      font-size: 20px;
      text-align: center;
      margin-top: -25px;
      font-weight: bolder;
    }
    .securityTxt{
      font-size: 16px;
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }
  .whiteBox3{
    width: 370px;
    background-color: #fff;
    height: 500px;
   margin-right: 100px;
    margin-top: 100px;
    border-radius: 15px;

    @include tablet{
      margin-left: 180px;
      background-color: #1A2377;
      color: #fff;
      }
      @include mobile{
        margin-left: 50px;
        background-color: #1A2377;
        color: #fff;
      }

    img{
      width: 250px;
      margin-left: 50px;
      margin-top: 20px;
    }
    .computing{
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
      font-weight: bolder;
    }
    .computingTxt{
      font-size: 16px;
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }
}

.flex3{
  display: flex;
  margin-top: 400px;
  width: 50%;

  @include tablet{
    margin-top: 2000px;
    width: 50%;
  }
  @include mobile{
    margin-top: 2000px;
    width: 50%;
    margin-left:-150px;
  }
  .left{
width: 50%;

  .txtHead3{
font-size: 20px;
width: 400px;
margin-left: 180px;
font-weight: bold;
text-transform: capitalize;
  }
  .txtBody3{
    font-size: 18px;
width: 350px;
margin-left: 180px;
margin-top: 15px;
line-height: 45px;
  }
  .learnMore{
    button{
      width: 200px;
      height: 60px;
      margin-top: 30px;
      margin-left: 180px;
      border: 0px solid #327CE9;
      background-color: #327CE9;
      border-radius: 5px;
      color: #fff;
      font-size: 18px;
    }
  }
  }

  .right{
display: flex;
width: 50%;
@include tablet{
  display: none;
}
@include mobile{
  display: none;

}

  .whiteBox4{
    width: 50%;
    height: 500px;
    margin-left: 250px;
  
    

    h1{
    width: 400px;
    margin-top: -10px;
    font-size: 20px;
    }

    p{
    font-size: 16px;
    width: 200px;

    }
  }
  .whiteBox5{
    width: 50%;
    height: 500px;
    margin-left: 50px;


    h1{
      width: 400px;
      margin-top: -10px;
      font-size: 20px;
      }
  
      p{
      font-size: 16px;
      width: 200px;
  
      }
  }
  .whiteBox6{
    width: 500px;
    height: 500px;
    margin-left: 50px;

    h1{
      width: 400px;
      margin-top: -10px;
      font-size: 20px;
      }
  
      p{
      font-size: 16px;
      width: 200px;
  
      }
  }

}
}

.partners{
  width: 50%;

  @include tablet{
    display: none;
  }
  @include mobile{
    display: none;
  }

  h1{
   font-size: 40px;
   margin-left: 170px;
   margin-top: 100px;
   color: #333333;
  }
}

.flex4{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  @include tablet{
    display: none;
    
  }
  @include mobile{
    display: none;
  }

  .google{
  margin-left: 170px;
  font-size: 40px;
  font-weight: bold;
  color: #a4a4a4;
  }
  .safari{
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #a4a4a4;

  }
  .chrome{
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #a4a4a4;

  }
  .hostinger{
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #a4a4a4;

  }
  .microsoft{
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #a4a4a4;

  }

}

.testimonial{
  width: 50%;

  h1{
    font-size: 40px;
    margin-left: 170px;
    margin-top: 100px;
    color: #333333;

    @include mobile{
margin-left: 10px;
    }
  }
}

.flex5{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  @include tablet{
    display: flex;
    flex-direction: column;
  }
  @include mobile{
    display: flex;
    flex-direction: column;
  }
  .whiteman{
    width: 300px;
    height: 300px;
    background-color: #a4a4a4;
    margin-left: 175px;
    margin-top: 150px;

    @include mobile{
      margin-left: 10px;
    }
  
  }
  h1{
    font-size: 23px;
    color: #333333;
    margin-left: 225px;
    margin-top: 10px;
    font-weight: bolder;

    @include mobile{
      margin-left: 10px;
    }
  }
  p{
    font-size: 15px;
    color: #a4a4a4;
    margin-left: 260px;
    margin-top: 10px;
    
    @include mobile{
      margin-left: 10px;
    }
  }

  .right{
    width: 50%;

    p{
      width: 600px;
      margin-top: 200px;
      margin-left: -50px;
      font-size: 23px;
      word-spacing: 5px;
      color: #a4a4a4;
      line-height: 45px;
      font-weight: 900;

      @include tablet{
    margin-left: 80px;
    margin-top: 10px;
    width: 500px;
      }
      @include mobile{
        margin-left: 0;
        margin-top: 10px;
        width: 400px;
      }
    }
  }
  button{
    width: 200px;
      height: 60px;
      margin-top: 30px;
      border: 0px solid #327CE9;
      background-color: #327CE9;
      border-radius: 5px;
      color: #fff;
      font-size: 18px;
      
  @include tablet{
 margin-left: 210px;
  }
  }
}

.pricing{
  width: 50%;
  margin:auto;
  font-size: 25px;
    margin-left: 500px;
    margin-top: 100px;
    color: #333333;
    
  @include tablet{
    margin-left: 200px;
  }
  
  @include mobile{
    margin-left: 100px;
  }
    p{
      font-size: 25px;
      margin-top: 20px;
      color: #a4a4a4;
      font-weight: 400;
      margin-left: -80px;
      

    }
}

.flex6{
width: 100%;
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;


@include tablet{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

@include mobile{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
}

.longbox1{
  width: 350px;
  height: 600px;
  background-color: #F9F9F9;
  margin-left: 100px;
  border-radius: 5px;

  h2{
    margin-left: 10px;
    font-size: 30px;
    color: #292828;
    font-weight: bold;
  }
  .dollar{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
  }
  .two{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
  }
  .month{
    font-size: 15px;
    color: #333333;
    font-weight: bold;
  }
.txt{
  width: 300px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.line{
width: 300px;
margin: auto;
background-color: #333333;
height: 1px;
margin-top: 30px;
}
.disc{
margin-top: 80px;
font-size: 20px;
color: #333333;
font-weight: bold;
margin-left: 10px;
}
.bandwidth{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;

}
button{
  width: 250px;
  height: 60px;
  margin-top: 150px;
  border: 0px solid #327CE9;
  background-color: #fff;
  border-radius: 5px;
  color: #333333;
  font-size: 18px;
  border: 1px solid blue;
  font-weight: bold;
  margin-left: 50px;
}
}





.longbox2{
  width: 350px;
  height: 600px;
  background-color: #327CE9;
  border-radius: 5px;

  @include tablet{
    margin-left:100px;
    margin-top: 20px;
  }
  
  @include mobile{
    margin-left: 100px;
    margin-top: 20px;
  }
  h2{
    margin-left: 10px;
    font-size: 30px;
    color: #292828;
    font-weight: bold;
  }
  .dollar{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
  }
  .twelve{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
  }
  .month{
    font-size: 15px;
    color: #333333;
    font-weight: bold;
  }
.txt{
  width: 300px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.line{
width: 300px;
margin: auto;
background-color: #F9F9F9;
height: 1px;
margin-top: 30px;
}
.disc{
margin-top: 80px;
font-size: 20px;
color: #333333;
font-weight: bold;
margin-left: 10px;
}
.bandwidth{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;

}
.database{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
}
button{
  width: 250px;
  height: 60px;
  margin-top: 120px;
  border: 0px solid #327CE9;
  background-color: #fff;
  border-radius: 5px;
  color: #333333;
  font-size: 18px;
  border: 1px solid blue;
  font-weight: bold;
 margin-left:50px ;
}
}

.longbox3{
  width: 350px;
  height: 600px;
  background-color: #F9F9F9;
  border-radius: 5px;
  margin-right: 100px;


  @include tablet{
    margin-left: 100px;
    margin-top: 20px;
  }
  
  @include mobile{
    margin-left: 100px;
    margin-top: 20px;
  }
  h2{
    margin-left: 10px;
    font-size: 30px;
    color: #292828;
    font-weight: bold;
  }
  .dollar{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
  }
  .eighteen{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
  }
  .month{
    font-size: 15px;
    color: #333333;
    font-weight: bold;
  }
.txt{
  width: 300px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.line{
width: 300px;
margin: auto;
background-color: #333333;
height: 1px;
margin-top: 30px;
}
.disc{
margin-top: 80px;
font-size: 20px;
color: #333333;
font-weight: bold;
margin-left: 10px;
}
.bandwidth{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;

}
.database{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
}
.domain{
  font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
}
button{
  width: 250px;
  height: 60px;
  margin-top: 95px;
  border: 0px solid #327CE9;
  background-color: #fff;
  border-radius: 5px;
  color: #333333;
  font-size: 18px;
  border: 1px solid blue;
  font-weight: bold;
  margin-left: 50px;
}
}


}


.bluebox{
  width: 100%;
  height: 1500px;
  background-color: #1A2377;
  padding-top: 50px;
  margin-top: -250px;

  @include tablet{
    height: 600px;
    width: 100%;
  }
      
    @include mobile{
    height: 600px;
    width: 100%;
    }

  .bluebox2{
    width:90%;
    height: 300px;
    margin-top: 450px;
    background-color: #2F3880;
    border-radius: 10px;
    margin-left: 75px;
    
  @include tablet{
    display: none;
  }
  
  @include mobile{
    display: none;
  }

    .flex7{
      display: flex;
      flex-direction: row;
    
      h1{
        text-transform: capitalize;
        color: #fff;
        margin-top: 100px;
        margin-left: 100px;
        font-size: 45px
      }
      p{
        color: #fff;
        margin-top: 10px;
        margin-left: 100px;
        font-size: 20px;
      }
    }
    .buttons{
      width: 50%;
      display: flex;
      flex-direction: row;
    }
    .start{
      width: 250px;
      height: 70px;
    border: none;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color:#454D8A;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 100px;
    margin-left: 140px;

    }
    .plan{
      width: 250px;
      height: 70px;
    border: none;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color:#454D8A;
    border-radius: 5px;
    border: 1px solid transparent;
      margin-left: 25px;
    margin-top: 100px;
  
    }

  }

  .flex8{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    color: #fff;

    @include tablet{
      display: none;
    }
        
    @include mobile{
     display: none;
    }

    .hostingan {
      margin-left: 100px;
      text-transform: capitalize;
      margin-right: 100px;

      p{
    width: 200px;
    margin-top: 10px;
      }
    }

      .product{
      margin-left: 80px;

      h1{
        font-size: 16px;
      }
      ul{
        font-size: 16px;
        list-style-type: none;
        margin-left: -40px;
      
        li{
          line-height: 50px;
        }
      }
      }
  }


    .features{
    margin-left: 80px;


    h1{
      font-size: 16px;
    }
    ul{
      font-size: 16px;
      list-style-type: none;
      margin-left: -40px;
    
      li{
        line-height: 50px;
      }
    }
    }


    .resources{
      margin-left: 80px;
  
      h1{
        font-size: 16px;
      }
      ul{
        font-size: 16px;
        list-style-type: none;
        margin-left: -40px;
      
        li{
          line-height: 50px;
        }
      }
      }
  
      .resource{
        margin-left: 80px;
    
        h1{
          font-size: 16px;
        }
        ul{
          font-size: 16px;
          list-style-type: none;
          margin-left: -40px;
        
          li{
            line-height: 50px;
          }
        }
        }

        .copyright{
          margin-top: 70px;
          color: #fff;
          margin-left: 700px;

          @include tablet{
            display: none;
          }
          
          @include mobile{
            display: none;
          }
              
        }
  }
